{% extends "base.html" %}
{% block content %}
<head>
<link rel="stylesheet"  type="text/css" href="/static/css/tables.css">
</head>

<body>
<table style="width:300px">

{% if intersection_list %}
<tr>
	<td>ID</td>
	<td>Description</td>
	<td>Location</td>
	<td>No. of Equipment</td>
	<td>No. of Accidents</td>
	<td>Remarks</td>
<tr>
{% for i in intersection_list %}
<tr>
	<td>{{i.id}}</td>
	<td>{{i.description}}</td>
	<td>{{i.location}}</td>
	<td>{{i.equipment}}</td>
	<td>{{i.accidentNum}}</td>
	<td>{{i.remarks}}</td>
	<td><input type="checkbox" name="selection" value="{{i.id}}"></td>
<tr>
{% endfor %}
</table>
{% endif %}
<button onclick="location.href='/intersectionindex'"; id=addIntersection >Add Intersection</button>
<button onclick="location.href='/intersections'"; id=delete >Delete Intersection</button>
</body>

{% endblock content %}
